<!DOCTYPE html>
<html class="s4c-fill">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="Climate change topic to discuss with your representative.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      {% capture css %}
      {% include w3 %}
      {% include s4c %}
      {% include cloud %}
      {% include construction %}
      {% endcapture %}
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body class="s4c-fill">
    <header>
      {% include top %}
      <div class="w3-bar w3-card s4c-blue">
        <a href="{{ "/" | url }}" class="w3-bar-item w3-button w3-wide">Home</a>
      </div>
    </header>
    <div class="w3-container" style="max-width:800px;margin:auto;">
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </div>
  </body>
  <script>
  </script>
</html>
