<!DOCTYPE html>
<html class="s4c-fill">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="Scripts, questions, topics, and other information about climate change to discuss with your representatives.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="{{ "/favicon.ico" |url }}">
    <style>
      {% capture css %}
      {% include w3 %}
      {% include s4c %}
      {% include cloud %}
      {% include coal-factory %}
      {% endcapture %}
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body class="s4c-fill"
        style="background-image: linear-gradient(skyblue, skyblue, gray);"
        onload="outside_on_load()">
    <header>
      {% include top %}
      <button id="home" class="s4c-top-button"><a href="{{ "/"|url }}">Home</a></button>
      <button id="about" class="s4c-top-button"><a href="{{ "/about"|url }}">about</a></button>
    </header>
    <div class="w3-container" style="max-width:800px;margin:auto;padding:1em;">
      <h1 id="title">{{ title }}</h1>
      <div id="content">
      {{ content | safe }}
      </div>
    </div>
    {% include meta-bottom %}
  </body>
</html>
